@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');


// Fuentes
$fuente_principal: 'Abril Fatface', cursive;
$fuente_secundaria: 'Raleway', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$marronClaro: #d8b68d;
$marronOsc: #A87042;
$verdeClaro: #7cb342;         //#58963B;
$verdeOsc: #6b9b37;        //#2B7217;
$blanco: #ffffff;
$negro: #000000;
$gris: #e1e1e1;
$rojo: rgb(216, 14, 14);

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;




